
html,body{
    height: 100%;
}

.chat
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li
{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
    padding-left: 15px;
    padding-right: 15px;
}

.chat li.left .chat-body
{
    margin-left: 25px;
}

.chat li.right .chat-body
{
    margin-right: 25px;
}


.chat li .chat-body p
{
    margin: 0;
    color: #777777;
}

.send-box {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

.send-box input {
    height: px;
}

.navbar-fixed-top{
    height: 30px; /* must not use percents here, must be 80px*/
}

.navbar-fixed-bottom{

    height: 80px; /* must not use percents here, must be 60px*/    
}

#content {
    padding-top:70px; 
    padding-bottom:70px;
}

.navbar {
    margin-bottom: 0px;
} 

.panel-font {
    color: #555;
}   


